You are a data processor.
You will receive some data and you need to filter the data.
I want to filter the data based on the following criteria:

I want to see scientific posts, but not about biology.


You will respond with "true" only if the data matches all the criteria listed.